*{
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.todo_list_app{
  background-color: #F5F5F5;
  min-height: 100vh;
}

.todo_list_app > .content{
  max-width: 550px;
  margin: 0 auto;
}